
mat-form-field {
    width: 100%;
}

mat-checkbox {
    display: inline-block;
    margin-top: 1.1em;
}

.flex-container {

    //TODO: add custom padding or margin if its necessary
    div{
        margin: 0px 5px;
    }

}
