
<div class="flex-container">

    <div *ngFor="let key of schema | keys; let currentIndex = index"
         [ngStyle]="{'flex' : getFlexConfValue(currentIndex)}">

        <!-- TODO: check if there is a way to create variable definitions on the template to
         avoid repeating schema[key].type.name.toLowerCase() -->
        <ng-container [ngSwitch]="schema[key].type.name.toLowerCase()">

            <app-validator-input
                *ngSwitchCase="isValidatorInput(schema[key].type.name.toLowerCase())"
                [type]="getInputType(schema[key].type.name.toLowerCase())"
                [placeholder]="key"
                [validators]="getValidators(schema[key])"
                [required]="schema[key].required"
                [(model)]="item[key]">
            </app-validator-input>

            <ng-container *ngSwitchCase="'date'">

                <mat-form-field>
                    <input matInput
                           [matDatepicker]="picker"
                           [placeholder]="key"
                           [required]="schema[key].required"
                           [name]="key"
                           [ngModel]="item[key]"
                           (ngModelChange)="item[key] = $event.toISOString()"
                           disabled/>

                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>

            </ng-container>

            <mat-checkbox *ngSwitchCase="'boolean'" [(ngModel)]="item[key]">{{key}}</mat-checkbox>

        </ng-container>

    </div>

</div>
