<div class="mat-app-background">
    <div class="container">
        <!--<button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button>-->

        <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel *ngIf="!isMobile">Select</ng-template>
                    <h4 *ngIf="isMobile">Select</h4>
                    <mat-form-field>
                        <mat-select placeholder="What have you forgot?" formControlName="firstCtrl">
                            <mat-option *ngFor="let option of recoverSelect" [value]="option.value">
                                {{ option.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="right-inline">
                        <button mat-raised-button color="accent" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel *ngIf="!isMobile">Email</ng-template>
                    <h4 *ngIf="isMobile">Email</h4>

                    <mat-form-field>
                        <input matInput type="email" placeholder="Address" formControlName="secondCtrl" ngModel
                               [email]="true">
                    </mat-form-field>

                    <div class="right-inline">
                        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                        <button mat-raised-button color="accent" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel *ngIf="!isMobile">Verification</ng-template>
                    <h4 *ngIf="isMobile">Verification</h4>

                    A code have been sent to your email.<br/>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Paste code here" value="" formControlName="thirdCtrl">
                    </mat-form-field>
                    <div class="right-inline">
                        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                        <button mat-raised-button color="accent" matStepperNext>Validate</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel *ngIf="!isMobile">Done</ng-template>
                <h4 *ngIf="isMobile">Done</h4>

                You are now done.
                <!--TODO: Change it for a switch and in case it's a password, reset it and send the new password-->
                <div class="done-info" *ngIf="firstFormGroup.get('firstCtrl').value != 'both'">
                    Your {{firstFormGroup.get('firstCtrl').value}} have been sent to your email.
                </div>
                <div class="done-info" *ngIf="firstFormGroup.get('firstCtrl').value == 'both'">
                    Your user and your password have been sent to your email.
                </div>
                <br/>
                <div class="right-inline">
                    <button mat-raised-button color="accent" (click)="goLogin()">Login</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>

    </div>
</div>
