@import '../../../styles/variables/layout';


.done-info {
    margin-top: 5px;
    height: 15px;
}

@media only screen and (max-width: nth($screen-sizes, 3)) {

    .container {
        margin: 0;
        width: 100%;
    }

    mat-form-field{
        margin-top: 25px;
        width: 100%;
        height: 100px;
    }


    /*
    .right-inline {
        position: absolute;
        right: 20px;
        bottom: 20px;
        text-align: right;
    }*/
}


